<html>
    <head>
        
        <!-- <link rel="stylesheet" href="app.css"> -->
    </head>
    <body> 
        <h1>Driver management</h1>
        <nav>
        <a href="/drivers/new">add a new </a>
        </nav>
        
        <ul>
        <% for (i in drivers) { %>
        <li>
            <%= drivers[i].name %>, 
            <%= drivers[i].age %>, 
            <%= drivers[i].image %>

        </li>
        <a href="/drivers/<%= drivers[i]._id %>/edit">Edit</a>
        <a href="/drivers/<%= drivers[i]._id %>/">Show</a>
        <form action="/drivers/<%= i %>?_method=DELETE" method="POST">
            <input type="submit" value="DELETE"/>
        </form>
        <% } %>
        </ul>
        </body>
    </html>